{% extends 'base.html' %}

{% block header %}
  index block header
{% endblock %}

{% block content %}
  <h2>Jobs Search</h2>

  <p>Find job (leave all fields blank to list all):</p>
  <form method="post">
    <label for="company">Company:</label>
    <input id="company" name="company" value="{{ company }}"><br><br>

    <label for="position">Position:</label>
    <input id="position" name="position" value="{{ position }}"><br><br>

    <label for="applied">Applied (date):</label>
    <input id="applied" name="applied" value="{{ applied }}"><br><br>

    <label for="interview">Interview (text):</label>
    <input id="interview" name="interview" value="{{ interview }}">
    <input type="submit" name="get_interview_jobs" value="Get Interview Jobs">
    <br><br>

    <input type="submit" name="find_job" value="Find Job">
    &nbsp;
    <input type="submit" name="reset_page" value="Reset">

    {% if one_job %}
      <br><br>
      <input type="hidden" name="job_id" value="{{ one_job[0] }}"/>
      <table>
        <tbody>
          <tr><td> ID </td><td> {{ one_job[0] }} </td></tr>
          <tr><td> Company </td><td> {{ one_job[1] }} </td></tr>
          <tr><td> Position </td><td> {{ one_job[2] }} </td></tr>
          <tr><td> Applied</td><td> {{ one_job[3] }} </td></tr>
          <tr><td> Source </td><td> {{ one_job[4] }} </td></tr>
          <tr><td> Remote </td><td> {{ one_job[5] }} </td></tr>
          <tr><td> Cover Letter </td><td> {{ one_job[6] }} </td></tr>
          <tr><td> Interview </td><td> {{ one_job[7] | safe }} </td></tr>
          <tr><td> Decline </td><td> {{ one_job[8] }} </td></tr>
          <tr><td> Notes </td><td> {{ one_job[9] | safe }} </td></tr>
        </tbody>
      <table>
      <input type="submit" name="select_edit" value="Edit">
      &nbsp;
      <input type="submit" name="select_delete" value="Delete">
    {% endif %}

    {% if jobs_list %}
      <br><br>
      <input type="submit" name="get_job" value="Get Job:">
      <div class="scrollable-section">
      {% for job in jobs_list %}
        <input type="radio" id="id_{{ job[0] }}" name="selected_job"
          value="{{ job[0] }}" 
        {% if job == jobs_list[0] %} checked{% endif %}>
          <label for="id_{{ job[0] }}">{{ job[1] }}, {{ job[2] }}, 
          {% if interview_jobs %}
            <i style="color: blue;">INTERVIEW: {{ job[7] }}</i>
          {% else %}
            {{ job[3] }}
          {% endif %}
          </label>
        <br>
      {% endfor %}
      </div>
    {% endif %}

  </form>
  <br>
{% endblock %}